
extends layout

block content
	.wrapper_response
		.container.d-flex.h-100.w-100.mx-auto.flex-column.p-0
			main
				.response-block
					h5.wrapper_title !{client_title}
					a(href='/')
						button.close(type='button' data-dismiss='modal' aria-label='Close')
							span(aria-hidden='true').right-icon
					div.mb-5
						code!= userInfo
			footer(class="mt-auto")
				div.footer_response
					div
						p.margin_helper realm: #{realm}
					div
						p.margin_helper client id: #{client_id}
					div
						p.margin_helper state: #{state}	

